//
// Project Variables
//

/* fonts */
$--font-default: 'Inter';
$--font-title: 'South Edge Demo';


/* colors */
$--color-default: rgba(20, 20, 20, 1);
$--color-blue: rgba(145, 181, 199, 1);
$--color-light-blue: rgba(237, 243, 246, 1);
$--color-white: rgba(255, 255, 255, 1);
$--color-grey: rgba(82, 88, 91, 1);
$--color-grey-light: rgba(133, 133, 133, 1);
