<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<section class="page-header">
  <div class="container">
      <div class="page-header-wrapper">
        <div class="page-header-logo">
          <img src="./img/logo12.svg" alt="">
        </div>
        <a class="btn btn-blue" href="#">Back to the main page</a>
      </div>
  </div>
</section>

<section class="hope-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="banner-content">
          <div class="title">EMPOWERING HOPE, ENHANCING LIVES</div>
          <div class="description">
            <p>Renew Vitality is excited to be a proud sponsor of the «Hope&Bash». We are thrilled to support and be apart an organization so deeply committed to our community and its well-being.</p>
          </div>
          <div class="btns-wrapper">
            <a href="#" class="btn btn-blue">Donate</a>
            <a href="#" class="banner-link">Visit  Site</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="banner-image">
          <img src="./img/hope-banner-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hope-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="hope-about-content">
          <div class="title-block">About  the  Event</div>
          <div class="description">
            <p>
              Place of Hope’s 18th Annual Lexus Hope Bash Palm Beach is Palm Beach County’s premier fundraiser raising critical funds for local foster children, homeless youth, families in transition and human trafficking survivors. Known to be one of the most exhilarating and eye-opening charitable evenings, this gala offers attendees a cocktail reception, silent auction and raffles, dinner and dancing, a live auction and more! For the fourth year in a row, Lexus Hope Bash Palm Beach will be at Trump National Jupiter.
            </p>
            <p>
              Place of Hope is South Florida’s largest and most diverse faith-based, state licensed children and families organization, serving thousands annually, focused on providing programs and services to end the cycles of abuse, neglect, homelessness and human trafficking. We offer support to children, youth and families in need. Our goal is to help those we serve find healing and restoration, which leads to a successful future. Place of Hope opened its doors in 2001, and since then have seen these successes:
            </p>
          </div>
          <div class="sponsors">
            <img src="./img/rv-logo.svg" alt="">
            <img src="./img/lexus-logo.svg" alt="">
            <div class="sponsors-text">
              <p>30+ sponsors</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-m-12 relative">
        <div class="hope-image">
          <div class="image-decoration">
            <img src="./img/hope-img.png" alt="">
          </div>
        </div>
        <div class="about-card-stat">
          <div class="stat-item">
            <div class="stat-title">25,000+</div>
            <div class="stat-description stat-description-short">children, youth and families served</div>
          </div>
          <div class="stat-item">
            <div class="stat-title">360+</div>
            <div class="stat-description stat-description-short">forever families found through adoption</div>
          </div>
          <div class="stat-item">
            <div class="stat-title">87</div>
            <div class="stat-description">mothers-to-be and 74 babies have been cared for through our maternity home</div>
          </div>
          <div class="stat-item">
            <div class="stat-title">300+</div>
            <div class="stat-description">aged out or homeless youth into have transitioned into healthy adulthood</div>
          </div>
          <div class="stat-item">
            <div class="stat-title">10,000+</div>
            <div class="stat-description stat-description-average">resources provided to families through Shade Tree Outreach</div>
          </div>
          <div class="stat-item">
            <div class="stat-title">40,000+</div>
            <div class="stat-description stat-description-average">community members have been educated on human trafficking</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hope-date">
  <div class="container">
    <div class="title-block">Date and venue</div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-m-12">
        <div class="date-card">
          <div class="date-title">6:00 PM</div>
          <div class="date-description">Saturday, February 3, 2024</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-m-12">
        <div class="date-card date-card-location">
          <div class="date-title">Trump National Jupiter</div>
          <div class="date-description">115 Eagle Terrace Jupiter 33477</div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="map-wrapper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20264.550800583216!2d-97.56619345717961!3d26.121331593532215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1708171534330!5m2!1sru!2sru"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="renew-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="title-block title-block-tablet">About Renew Vitality</div>
        <div class="about-image">
          <img src="./img/about-renew-img.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 d-flex align-center">
        <div class="about-content">
          <div class="title-block title-block-pc">About Renew Vitality</div>
          <div class="description">
            <p>
              Renew Vitality provides outstanding solutions to enhance the quality of life. Our mission is to help people achieve optimal health and well-being. 
            </p>
            <p>
              Empowering Wellness, Inspiring Lives. At Renew Vitality, we celebrate the strength and vitality of every woman. Join us in embracing a journey towards health and rejuvenation.
            </p>
          </div>
          <a href="#" class="btn btn-blue">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-section">
  <div class="container">
    <div class="title-block">Renew Vitality`s team at events</div>

    <div class="staff-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="./img/staff-slider-img1.png" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="./img/staff-slider-img2.png" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="./img/staff-slider-img3.JPG" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="./img/staff-slider-img4.JPG" alt="">
          </div>
        </div>
      </div>

      <div class="swiper-scrollbar"></div>

    </div>

    <div class="swiper-button-prev">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.92417 5.23667C10.6564 4.50444 11.8436 4.50444 12.5758 5.23667L21.0133 13.6742C21.7456 14.4064 21.7456 15.5936 21.0133 16.3258L12.5758 24.7633C11.8436 25.4956 10.6564 25.4956 9.92417 24.7633C9.19194 24.0311 9.19194 22.8439 9.92417 22.1117L17.0359 15L9.92417 7.88833C9.19194 7.15609 9.19194 5.96891 9.92417 5.23667Z" fill="#91B5C7"/>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.92417 5.23667C10.6564 4.50444 11.8436 4.50444 12.5758 5.23667L21.0133 13.6742C21.7456 14.4064 21.7456 15.5936 21.0133 16.3258L12.5758 24.7633C11.8436 25.4956 10.6564 25.4956 9.92417 24.7633C9.19194 24.0311 9.19194 22.8439 9.92417 22.1117L17.0359 15L9.92417 7.88833C9.19194 7.15609 9.19194 5.96891 9.92417 5.23667Z" fill="#91B5C7"/>
      </svg>
    </div>
  </div>
</section>


<section class="hope-programs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="title">Personalized Programs <br> for Your Health <br> and Beauty</div>
      </div>
      <div class="col-lg-3">
        <div class="program-card">
          <div class="program-content">
            <div class="program-title">Anti-Aging Therapies</div>
            <div class="program-description">
              <p>Our anti-aging treatments, rejuvenate and uplift your well-being. These treatments focus on revitalizing your body's natural equilibrium, ensuring you experience a renewed sense of vitality.</p>
            </div>
          </div>
          <a href="#" class="btn btn-blue">Learn more</a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="program-card">
          <div class="program-content">
            <div class="program-title">Weight Loss</div>
            <div class="program-description">
              <p>Our weight loss programs are meticulously crafted for each patient, under the careful guidance of experienced physicians. Dedicated to enhancing your health and wellness, we support you in achieving your goals smoothly and with minimal stress, ensuring a journey that nurtures both body and spirit.</p>
            </div>
          </div>
          <a href="#" class="btn btn-blue">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
